[Unit]
Description=Cart Service
After=network.target

[Service]
User=roboshop
EnvironmentFile=-/etc/roboshop/cart.env
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
