[Unit]
Description=Catalogue Service
After=network.target

[Service]
User=roboshop
EnvironmentFile=-/etc/roboshop/catalogue.env
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
