[Unit]
Description=Payment Service
After=network.target

[Service]
User=roboshop
WorkingDirectory=/app
EnvironmentFile=-/etc/roboshop/payment.env
ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
