[Unit]
Description=Shipping Service
After=network.target

[Service]
User=roboshop
EnvironmentFile=-/etc/roboshop/shipping.env
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
