[Unit]
Description=User Service
After=network.target

[Service]
User=roboshop
EnvironmentFile=-/etc/roboshop/user.env
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
